/* dependencies */
@import "@fortawesome/fontawesome-free/css/all.css";
@import "tailwindcss/dist/tailwind.min.css";

/* local imports */
@import "./styles/variables";
@import "./styles/fonts";
@import "./styles/base";

@font-face {
  font-family: lusitana;
  src: url(../fonts/Lusitana/Lusitana-Regular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Background */
.body-index {
  background-image: url(../images/accueil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  /* Titre */
  header {
    position: relative;
    margin-top: 30px;
    font-family: lusitana;
    color: #fdb42c;
    -webkit-text-stroke: 1.5px #f1ce7c;
    // border: 1px solid black;
    height: 300px;
    text-align: center;
    opacity: 0.9;

    .big_word {
      text-transform: uppercase;
      /* font-size: 8vw; */
      text-shadow: 5px 5px black;

      letter-spacing: 2px;
    }

    .one {
      font-size: 5vw;
    }

    .two {
      font-size: 8vw;
    }

    .small_word {
      position: absolute;
      font-size: 40px;
      text-shadow: 1px 1px black;
      left: 45%;
      top: 20%;

    }
  }

  // Main
  .main-index {
    img {
      display: table;
      margin: 0 auto;
      width: 500px;
      border-radius: 10px;
      border: 2px solid rgb(95, 96, 99);
    }
  }
}
